/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Press Start 2P", monospace;
  font-size: 1.2rem;
  color: #212529;
}

a,
button {
  border: 0;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

a:focus,
button:focus {
  outline: none;
}
